* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #262222;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
    padding-top: 5rem;
    font-family: "Oswald", sans-serif;
}









